@{
    Layout = null;
}

<!DOCTYPE html>
<html lang=zh-cn>
<head>
    <meta charset=utf-8>
    <title>互金平台</title>
    <link rel="shortcut icon" href=/static/favicon.ico>
    <link href=/static/css/app.35deb95f0a6af74b9c88c83c4fcdfd19.css rel=stylesheet>
</head>
<body>
    <div id=app></div>
    <script type=text/javascript src=/static/js/manifest.3daf2719baaeae3a1ef9.js></script>
    <script type=text/javascript src=/static/js/vendor.f93af1593f2e462bcbec.js></script>
    <script type=text/javascript src=/static/js/app.60b090a572f1ee66d964.js></script>
</body>
</html>