@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="zh-hans">
<head>
  <meta charset="utf-8">
  <title>互金平台</title>
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link href="/static/css/app.1331220590b392e829bfd247d1fb2e3a.css" rel="stylesheet">
</head>
<body>
  <div id=app></div>
  <script type=text/javascript src=/static/js/manifest.c3b77f725b8635d68f62.js></script>
  <script type=text/javascript src=/static/js/vendor.f93af1593f2e462bcbec.js></script>
  <script type=text/javascript src=/static/js/app.878243e379295e0581b9.js></script>
</body>
</html>
